@page
@model MyApp.Pages.IndexModel
@{
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Country
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var user in Model.Users)
            {
                <td>@user.Name</td>
                <td>@user.Country</td>
            }

        </tr>
    </tbody>
</table>